 {% load static %}
 <aside class="sidebar" id="sidebar" role="navigation" aria-label="Main navigation">
            <div class="sidebar-header">
                <h3><i class="fas fa-briefcase"></i>Placement Portal</h3>
            </div>
            <nav class="sidebar-nav">
                <ul class="sidebar-menu">
                    <li>
                        <a href="#" class="nav-link-dashboard active" data-page="page-dashboard">
                            <i class="fas fa-home"></i>Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-company-profile">
                            <i class="fas fa-building"></i>Update Company Profile
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-add-requirement">
                            <i class="fas fa-plus-circle"></i>Add New Requirement
                        </a>
                    </li>

                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-current-requirements">
                            <i class="fas fa-briefcase"></i>Current Requirements
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-shortlisted-students">
                            <i class="fas fa-users"></i>Shortlisted Students
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-selected-students">
                          <i class="fas fa-user-check"></i>Selected Students
                        </a>
                      </li>
                      
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-old-requirements">
                            <i class="fas fa-history"></i>Old Requirements
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link-dashboard" data-page="page-placement-contact">
                            <i class="fas fa-address-card"></i>Placement Cell Contact
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="sidebar-footer">
                <ul class="sidebar-menu">
                    <li>
                        <a href="company-login.html"><i class="fas fa-sign-out-alt"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </aside>